@import "tailwindcss";

:root {
  --color: 220, 220, 200;
  --background-color: rgb(0, 0, 0);
  scroll-behavior: smooth;
  scroll-padding-top: 16vh;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}

body {
  color: rgb(var(--color));
}

.base-bg {
  background: linear-gradient(to bottom, transparent, rgb(0, 0, 0)),
    url("/bg-grid-2.png");
  background-position: unset;
  background-repeat: no-repeat;
  background-size: cover;
}